body {
    background-color: aquamarine;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    margin: 0;
    padding-bottom: 0.5rem;
}

h1 {
    padding-top: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 0.5rem;
    margin-top: 0;
}

p {
    background-color: rgb(100%, 64.7%, 0%);
    margin: 0;
    padding-left: 0.5rem;
}

table, th, td {
    border-collapse: collapse;
    border-color: #000;
    border-style: solid;
    border-width: 3px;
}

table {
    width: 100%;
}

footer {
    background-color: rgb(13.3%, 54.5%, 13.3%);
    color: #fff;
    padding: 5rem 0.5rem 0.5rem;
    margin: 0;
}

span {
    background-color: rgb(84.7%, 60.4%, 93.3%);
    padding: 0 0.5rem;
}

q {
    background-color: rgb(69.8%, 13.3%, 13.3%);
    color: #fff;
    padding: 0 0.5rem;
}

code {
    background-color: #000;
    color: #fff;ß
    padding: 0 0.5rem;
}

.pink-row {
    background-color: rgb(95.6%, 49.6%, 75.7%);
}

.blue-row {
    background-color:rgb(0, 217, 255);
}

.by-dean {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    background-color: #59405c;
    color: #fff;
    width: 100%;
    margin: 0;
    position: relative;
    bottom: top;
    padding: 3rem 0rem;
}

.top-section {
    background-color: rgb(0, 217, 255);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.headings {
    background-color: rgb(78.3%, 47.1%, 89.4%);
}

.container {
    background-color: tomato;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second {
    background-color: yellow;
}

.third {
border: solid #000 5px;
}